APP_DEBUG=false
APP_TIMEZONE=Asia/Shanghai
APP_SITE_NAME=私有文件管理
APP_REGISTRATION_OPEN=false
APP_SHARE_LINK_SECRET=change-me-share-link-secret
APP_SERVER_URL=http://127.0.0.1:8787

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=private-file-manager
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0
